@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}

.header{
  font-size: 18px;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  font-style: normal;
}

.header__address{
  font-style: normal;
  
}

.cover__title {
  font-size: 100px;
  font-weight: bold;
}

.cover__description-text {
  font-size: 22px;
}

.bet-button {
  font-size: 22px;
}

.cover__description-text {
  font-weight: normal;
}
.bet-button {
  font-weight: normal;
  font-family: Raleway, sans-serif;
}

.lots__heading {
  font-size: 40px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
}

.card__title {
  font-size: 22px;
  font-weight: bold;
}

.card__text {
  font-size: 20px;
  font-weight: normal;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: normal;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
}

.about__text {
  font-size: 20px;
  font-weight: normal;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: 400;  
}

.footer__address {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}