.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin: 92px 24px 96px 24px;
  font-size: 18px;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  font-style: normal;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__links-list {
  display: flex;
  align-items: center;
  list-style: circle;
  gap: 10px 33px;
  margin-left: 27px;
  padding-top: 4px;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header__address {
  margin-left: 187px;
  margin-top: 6px;
  gap: 5px;
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1100px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-transform: uppercase;
  justify-content: space-around;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  inset: 0;
}

.cover__title {
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
  margin: 110px 50px 0 50px;
  font-size: 100px;
  font-weight: bold;
}

.aligned-text {
  text-align: left;
  letter-spacing: 30px;
  line-height: 130px;
  margin-top: 22px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  text-align: center;
  letter-spacing: 30px;
  padding-bottom: 20px;
  padding-top: 2px;
}

.aligned-text_right {
  text-align: right;
  letter-spacing: 30px;
  margin-bottom: 35px;
  line-height: 88px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  text-align: center;
  letter-spacing: 5px;
  padding-top: 30px;
}

.cover__description-text {
  display: inline;
  word-spacing: 18px;
  letter-spacing: 0.1px;
  margin-left: 30px;
  margin-right: 35px;
  line-height: 100px;
  font-size: 22px;
  font-weight: normal;
}

.bet-button {
  display: inline;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  padding: 13px 33px 10px 31px;
  text-align: center;
  margin-left: 19px;
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
}

.lots__heading {
  margin: 179px 0 27px 64px;
  text-transform: uppercase;
  font-size: 40px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 24px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  list-style: none;
  flex-grow: 1;
  margin-bottom: 27px;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  height: 100%;
  padding: 51px 40px 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 334px;
  z-index: 2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  text-decoration: underline;
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.card__text {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 20px;
  font-weight: normal;
}

.lots__look-more-link {
  display: block;
  margin-left: 64px;
  padding-top: 3px;
  text-underline-offset: 5px;
  text-decoration: underline solid black 1px;
  font-size: 20px;
  font-weight: normal;
}

.about {
  width: 1047px;
  display: grid;
  grid-template-columns: 334px 2fr;
  margin: 169px 24px 0 24px;
  gap: 25px;
}

.logo__column {
  height: 240px;
  width: 240px;
  background-color: black;
  border-radius: 50%;
  justify-self: center;
  margin-top: 13px;
}

.about__logo-image {
  height: 114px;
  width: 148px;
  margin: 64px 0 0 46px;
}

.about__column {
  align-self: center;
}

.about__title {
  margin-top: 35px;
  margin-bottom: 21px;
  line-height: 206px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.about__text {
  word-spacing: 0.6px;
  font-size: 20px;
  font-weight: normal;
}

.paragraph_about__text {
  margin-bottom: 23px;
}

.footer {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 160px 50px 88px 50px;
}

.address {
  display: flex;
  flex-direction: column;
  text-underline-offset: 4px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.footer__address {
  line-height: 24px;
}

.footer__menu {
  margin-left: 37px;
  text-underline-offset: 4px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  text-decoration: underline;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  height: 48px;
  width: 48px;
}
